.test {
  border: 1px solid red;
}
.padding2 {
  padding: 2%;
}
* {
  box-sizing: border box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD-w.ttf) format('truetype');
}
@font-face {
  font-family: 'Glass Antiqua';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Glass Antiqua'), local('GlassAntiqua-Regular'), url(https://fonts.gstatic.com/s/glassantiqua/v7/xfu30Wr0Wn3NOQM2piC0uXOjrLj6Mw.ttf) format('truetype');
}
@font-face {
  font-family: 'Abril Fatface';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Abril Fatface'), local('AbrilFatface-Regular'), url(https://fonts.gstatic.com/s/abrilfatface/v11/zOL64pLDlL1D99S8g8PtiKchq-dmiA.ttf) format('truetype');
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 5rem;
  font-family: 'Abril Fatface';
  color: #D03446;
}
@media (max-width: 800px) {
  h1 {
    font-size: 4.5rem;
    text-align: center;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 3.5rem;
  }
}
h2,
h3 {
  font-family: 'Glass Antiqua';
  font-size: 4rem;
  color: #9C8D84;
  padding-bottom: 10px;
}
@media (max-width: 800px) {
  h2,
  h3 {
    font-size: 3.5rem;
    text-align: center;
  }
}
@media (max-width: 600px) {
  h2,
  h3 {
    font-size: 3.5rem;
  }
}
h3 {
  font-size: 3rem;
}
@media (max-width: 800px) {
  h3 {
    font-size: 2.7rem;
  }
}
@media (max-width: 600px) {
  h3 {
    font-size: 1.7rem;
  }
}
p,
a {
  font-size: 2rem;
  font-family: 'Montserrat';
}
@media (max-width: 800px) {
  p,
  a {
    text-align: center;
  }
}
p {
  line-height: 1.5;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  display: flex;
}
body .left-side {
  width: 80%;
  margin: 0 0;
  background-color: #FCFBFB;
}
@media (max-width: 800px) {
  body .left-side {
    width: 75%;
  }
}
@media (max-width: 600px) {
  body .left-side {
    width: 70%;
  }
}
body .left-side section {
  display: flex;
  flex-wrap: wrap;
}
.right-side {
  background-color: #BE6360;
  width: 20%;
  height: 100%;
  top: 0;
  right: 0;
  position: fixed;
}
.right-side h2 {
  color: #FCFBFB;
  padding: 2%;
}
.right-side p {
  font-style: italic;
  text-align: center;
  padding: 2%;
  color: #E1CEC9;
}
@media (max-width: 600px) {
  .right-side p {
    font-size: medium;
  }
}
.right-side .links nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10% 0;
}
.right-side .links nav a {
  color: #FCFBFB;
  text-decoration: none;
  width: 100%;
  padding: 8% 0%;
  text-align: center;
  border-bottom: 2px dashed #E1CEC9;
}
.right-side .links nav a:hover {
  color: #D03446;
  background-color: #FCFBFB;
}
@media (max-width: 600px) {
  .right-side .links nav a {
    padding: 12% 0;
  }
}
.right-side footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8% 0;
}
.right-side footer .icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.right-side footer .icons i {
  color: #4A3731;
}
.right-side footer .icons i:hover {
  color: #E1CEC9;
}
@media (max-width: 800px) {
  .right-side footer {
    padding: 10% 0;
  }
}
@media (max-width: 800px) {
  .right-side {
    width: 25%;
  }
}
@media (max-width: 600px) {
  .right-side {
    width: 30%;
  }
}
.content {
  padding: 5% 1% 5% 5%;
}
.content h1 {
  padding-bottom: 1%;
}
.content h2,
.content h3 {
  padding: 2% 0;
}
#about p {
  padding-bottom: 15px;
}
.reason {
  display: flex;
  border-bottom: 2px dashed #E1CEC9;
  padding: 3% 0;
}
@media (max-width: 600px) {
  .reason {
    flex-direction: column;
    padding: 0;
  }
}
#whyUs {
  border-top: 3px solid #9C8D84;
  border-bottom: 3px solid #9C8D84;
}
#whyUs .image {
  height: 345px;
}
#whyUs .image img {
  width: 75%;
  height: 100%;
  object-fit: contain;
}
@media (max-width: 800px) {
  #whyUs .image img {
    width: 90%;
  }
}
@media (max-width: 600px) {
  #whyUs .image img {
    width: 100%;
  }
}
#whyUs .c {
  margin-left: 1%;
}
#whyUs .words {
  margin-right: 3%;
}
@media (max-width: 600px) {
  #whyUs .words h3 {
    font-size: 2.9rem;
  }
}
#whyUs .words p {
  font-size: 1.75rem;
}
.buttonsNThings {
  width: 100%;
}
@media (max-width: 800px) {
  .buttonsNThings {
    display: flex;
    justify-content: center;
  }
}
.buttonsNThings button {
  background-color: #D03446;
  color: #FCFBFB;
  width: 150px;
  height: 75px;
  font-size: 2rem;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: bolder;
  margin: 2% 0 0;
  outline: none;
}
.buttonsNThings button:hover {
  background-color: #FCFBFB;
  color: #D03446;
  border: 1px solid #D03446;
}
.buttonsNThings button:active {
  background-color: #E1CEC9;
  color: #4A3731;
  border: 1px solid #4A3731;
}
@media (max-width: 800px) {
  .buttonsNThings button {
    background-color: #D03446;
    color: #FCFBFB;
    width: 200px;
    height: 75px;
    font-size: 2rem;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: bolder;
    margin: 2% 0 0;
    outline: none;
  }
  .buttonsNThings button:hover {
    background-color: #FCFBFB;
    color: #D03446;
    border: 1px solid #D03446;
  }
  .buttonsNThings button:active {
    background-color: #E1CEC9;
    color: #4A3731;
    border: 1px solid #4A3731;
  }
}
#intro {
  border-bottom: 3px solid #9C8D84;
}
.blocks {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 800px) {
  .blocks {
    flex-direction: column;
  }
}
.blocks .person {
  display: flex;
  flex-direction: column;
  width: 47%;
  border-bottom: 2px dashed #E1CEC9;
  padding: 3% 0;
}
@media (max-width: 800px) {
  .blocks .person {
    width: 100%;
  }
}
.blocks .person .portfolio {
  width: 64%;
  margin-left: 17%;
}
.blocks .person .portfolio img {
  margin-bottom: 4%;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  box-shadow: 2px 2px #9C8D84;
}
.blocks .person .team {
  text-align: center;
}
.blocks .person p {
  padding: 4%;
}
.blocks .person button {
  background-color: #D03446;
  color: #FCFBFB;
  width: 150px;
  height: 45px;
  font-size: 2rem;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: bolder;
  margin: 2% 0 0;
  outline: none;
  margin-left: 4%;
}
.blocks .person button:hover {
  background-color: #FCFBFB;
  color: #D03446;
  border: 1px solid #D03446;
}
.blocks .person button:active {
  background-color: #E1CEC9;
  color: #4A3731;
  border: 1px solid #4A3731;
}
.blocks .person button:hover {
  background-color: #4A3731;
  color: #FCFBFB;
  border: none;
}
.blocks .person button:active {
  background-color: #BE6360;
  border: 1px solid #4A3731;
}
@media (max-width: 800px) {
  .blocks .person button {
    background-color: #D03446;
    color: #FCFBFB;
    width: 200px;
    height: 50px;
    font-size: 2.3rem;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: bolder;
    margin: 2% 0 0;
    outline: none;
  }
  .blocks .person button:hover {
    background-color: #FCFBFB;
    color: #D03446;
    border: 1px solid #D03446;
  }
  .blocks .person button:active {
    background-color: #E1CEC9;
    color: #4A3731;
    border: 1px solid #4A3731;
  }
}
#questions {
  border-top: 3px solid #9C8D84;
}
@media (max-width: 800px) {
  #questions .heading {
    width: 100%;
  }
}
