//Left side styling
.content{
    padding: 5% 1% 5% 5%;

    h1{
        padding-bottom: 1%;
    }//h1

    h2, h3{
        padding: 2% 0;
    }
}//end of content
#about p{
    padding-bottom: 15px;
}
.reason{
    display:flex;
    .bdr-btm();
    padding: 3% 0;

    @media @mobile{
        flex-direction: column;
        padding:0;
    }//end of mq
}//end of reason

#whyUs{
    border-top:3px solid @teddy;
    border-bottom: 3px solid @teddy;

    .image{
        height: 345px;

        img{
            width:75%;
            height:100%;
            object-fit: contain;

            @media @tablet{
                width: 90%;
            }//end of mq
            @media @mobile{
                width:100%;
            }//end of mq
        }//end of img
    }//image container

    .words{
        margin-right: 3%;

        h3{
            @media @mobile{
                font-size: 2.9rem;
            }//end of mq
        }
        p{
            font-size:1.75rem;
        }//p
    }//words
}//end of whyUs

.buttonsNThings{
    width:100%;
    
    @media @tablet{
        display:flex;
        justify-content: center;
    }//end of mq

    button{
        .button(150px, 75px, 2rem);

        @media @tablet{
            .button(200px, 75px, 2rem);
        }//end of mq
    }//end of button
}//end of buttonNThings