//Color assignments
@button-bg: @berry;
@left-bg: @white;
@right-bg: @berry;
@h1: @red;
@h2: @teddy;
@break-lines: @beige;

//Colors
@white: #FCFBFB;
@beige: #E1CEC9;
@teddy: #9C8D84;
@dark: #4A3731;
@berry: #BE6360;
@red: #D03446;

//Escapes listed below
// @phone ~'(max-width: 500px';
// @tablet ~'(max-width: 800px';