//Color assignments
@button-bg: @red;
@left-bg: @white;
@right-bg: @berry;
@h1: @red;
@h2: @teddy;
@mid-break-lines: @beige;
@main-break-lines: @teddy;


//Colors
@white: #FCFBFB;
@beige: #E1CEC9;
@teddy: #9C8D84;
@dark: #4A3731;
@berry: #BE6360;
@red: #D03446;

//Fonts
@h1size: 5rem;
@h2size: 4rem;
@h3size: 3rem;
@paSize: 2rem;
@Abril: 'Abril Fatface';
@Glass: 'Glass Antiqua';
@Monty: 'Montserrat';

//Tablet Fonts
@h1size800: 4.5rem;
@h2size800: 3.5rem;
@h3size800: 2.7rem;
@paSize800: 2rem;

//Mobile Fonts
@h1size500: 3.5rem;
@h2size500: 3.5rem;
@h3size500: 1.7rem;
@paSize500: 2rem;

//Escapes listed below

@tablet: ~'(max-width: 800px)';
@mobile: ~'(max-width: 600px)';